/* public/game.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.app {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  gap: 16px;
  height: 100vh;
  margin: 0;
}

/* src/core/index.css */
:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
  --dark-background: var(--base03);
  --dark-foreground: var(--base0);
  --dark-cell-background: var(--base02);
  --dark-cell-foreground: var(--base0);
  --light-cell-backround: var(--base3);
  --light-cell-foreground: var(--base00);
  --background: var(--dark-background);
  --foreground: var(--dark-foreground);
  --cell-background: var(--dark-cell-background);
  --cell-foreground: var(--dark-cell-foreground);
  --rotation-speed: .25s;
  --buncss-light: ;
  --buncss-dark: initial;
  color-scheme: dark;
}

:where(svg:not([fill])) {
  fill: currentColor;
}

html, body {
  background-color: var(--background);
  color: var(--foreground);
}

svg {
  touch-action: manipulation;
}

svg text {
  -webkit-user-select: none;
  user-select: none;
  paint-order: stroke fill;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cell > path {
  transition: fill .3s;
  transform: scale(.855);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-height: 100vh;
}

@keyframes group-outline-flash {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  55% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.group-outline {
  animation: group-outline-flash .3s ease forwards;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  gap: .75rem;
  width: 20%;
}

.hearts {
  letter-spacing: .1em;
  writing-mode: vertical-lr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .25rem;
  font-size: 10rem;
}

.game-over {
  display: none;
  color: var(--red);
  text-transform: uppercase;
  letter-spacing: .05em;
  text-align: center;
  font-size: 5rem;
}

.score {
  letter-spacing: .05em;
  font-size: 3rem;
}
